In [1]:
import pandas as pd
import numpy as np
from plotnine import *

%matplotlib inline

In [4]:
data = pd.read_csv("../../data/processed/expensas_full.csv",
                  dtype = {
                                "expensa_id": "object",
                                "unidad_id": "object",
                                "propietario_id": "object",
                                "inquilino_id": "object",
                                "consorcio_id": "object",
                                "consorcio_usa_fondo": "bool",
                                "consorcio_solo_muestra_cat": "bool",
                                "unidad_tipo":"object",
                                "expensa_concepto": "object",
                                "expensa_mes":"object",
                                "expensa_anio":"object",
                                "unidad_propietario":"object",
                                "unidad_inquilino":"object",
                                "expensa_version":"object"
                            })

In [5]:
data.shape

(266376, 32)

In [6]:
data.describe()

,consorcio_interes_primer_vencimiento,consorcio_interes_segundo_vencimiento,unidad_metros,expensa_monto,expensa_monto_total,expensa_monto_parcial,expensa_proporcion,expensa_interes_primer_vencimiento,expensa_ineteres_segundo_vencimiento,pago_monto
count,266376.000000,266376.000000,266376.000000,266376.000000,2.663760e+05,266374.000000,266055.000000,266376.000000,266376.000000,229370.000000
mean,3.585034,5.496764,17.168548,1905.930689,2.662893e+05,31.819432,2.988299,3.469399,5.366103,1975.944774
std,3.024783,3.149914,257.928729,1941.339207,3.942452e+05,415.856714,9.268773,2.956609,3.050997,2567.311209
min,0.000000,0.000000,0.000000,-3091.000000,-4.827630e+03,-3091.000000,-141.583551,0.000000,0.000000,-3091.000000
25%,2.000000,4.000000,0.540000,764.895000,5.017781e+04,0.000000,0.401000,2.000000,3.750000,810.000000
50%,3.000000,5.000000,1.493000,1500.000000,1.184000e+05,0.000000,1.440082,3.000000,5.000000,1578.000000
75%,5.000000,6.000000,3.700000,2539.210000,2.796970e+05,0.000000,3.000000,5.000000,6.000000,2624.700000
max,35.000000,35.000000,11111.000000,158025.190000,3.946655e+06,43039.230000,253.846154,35.000000,35.000000,484620.000000

In [15]:
data.loc[data.expensa_proporcion >90,["consorcio_id", "consorcio_nombre", "consorcio_fecha_creacion","expensa_mes", "expensa_anio", "expensa_proporcion","expensa_monto", "expensa_monto_total", "expensa_primer_vencimiento", "pago_fecha", "pago_monto"]].sort_values("expensa_proporcion")

,consorcio_id,consorcio_nombre,consorcio_fecha_creacion,expensa_mes,expensa_anio,expensa_proporcion,expensa_monto,expensa_monto_total,expensa_primer_vencimiento,pago_fecha,pago_monto
254296,1887,EDIFICIO LIMA 135,2017-03-31 15:16:10,3,2017,95.418555,33261.00,34858.00,2017-04-14 00:00:00,2018-12-24,53717.00
265200,2053,Consorcio de Propietarios Marco Polo 5345,2018-02-02 15:10:27,12,2018,97.259397,4191.88,4310.00,2019-01-10 00:00:00,2019-01-17,4192.00
97666,1431,EDIFICIO ARVIAL,2015-12-28 15:01:41,11,2015,99.981553,542.00,542.10,2016-01-07 00:00:00,2016-05-27,0.00
23073,533,Paso de los Andes,2014-08-26 15:13:54,12,2017,100.000000,2474.00,2474.00,2017-12-10 00:00:00,2017-12-12,2816.00
259233,1981,LISANDRO DE LA TORRE Y 9 DE JULIO,2017-12-22 09:02:10,3,2018,100.000000,119.10,119.10,2018-03-10 00:00:00,2019-01-18,144.00
259234,1981,LISANDRO DE LA TORRE Y 9 DE JULIO,2017-12-22 09:02:10,4,2018,100.000000,175.00,175.00,2018-04-10 00:00:00,2019-01-18,208.00
259235,1981,LISANDRO DE LA TORRE Y 9 DE JULIO,2017-12-22 09:02:10,5,2018,100.000000,144.50,144.50,2018-05-10 00:00:00,2019-01-18,169.00
259236,1981,LISANDRO DE LA TORRE Y 9 DE JULIO,2017-12-22 09:02:10,6,2018,100.000000,135.80,135.80,2018-06-10 00:00:00,2019-01-18,156.00
259237,1981,LISANDRO DE LA TORRE Y 9 DE JULIO,2017-12-22 09:02:10,7,2018,100.000000,122.50,122.50,2018-07-10 00:00:00,2019-01-18,138.00
259238,1981,LISANDRO DE LA TORRE Y 9 DE JULIO,2017-12-22 09:02:10,8,2018,100.000000,132.00,132.00,2018-08-09 00:00:00,NaN,NaN
259239,1981,LISANDRO DE LA TORRE Y 9 DE JULIO,2017-12-22 09:02:10,9,2018,100.000000,142.50,142.50,2018-09-09 00:00:00,NaN,NaN
259240,1981,LISANDRO DE LA TORRE Y 9 DE JULIO,2017-12-22 09:02:10,10,2018,100.000000,167.40,167.40,2018-10-09 00:00:00,NaN,NaN
259249,1982,CATAMARCA 3528/30,2017-12-22 09:02:10,10,2018,100.000000,979.61,979.61,2018-11-10 00:00:00,2019-01-29,1038.00
259254,1982,CATAMARCA 3528/30,2017-12-22 09:02:10,12,2017,100.000000,448.19,448.19,2018-01-17 00:00:00,2018-12-13,547.00
259255,1982,CATAMARCA 3528/30,2017-12-22 09:02:10,1,2018,100.000000,408.64,408.64,2018-02-09 00:00:00,NaN,NaN
259232,1981,LISANDRO DE LA TORRE Y 9 DE JULIO,2017-12-22 09:02:10,2,2018,100.000000,158.10,158.10,2018-02-10 00:00:00,2019-01-18,194.00
259231,1981,LISANDRO DE LA TORRE Y 9 DE JULIO,2017-12-22 09:02:10,1,2018,100.000000,88.30,88.30,2018-01-10 00:00:00,2019-01-18,110.00
259225,1981,LISANDRO DE LA TORRE Y 9 DE JULIO,2017-12-22 09:02:10,9,2018,100.000000,142.50,142.50,2018-09-10 00:00:00,2019-01-31,157.00
259256,1982,CATAMARCA 3528/30,2017-12-22 09:02:10,2,2018,100.000000,403.00,403.00,2018-03-09 00:00:00,NaN,NaN
259224,1981,LISANDRO DE LA TORRE Y 9 DE JULIO,2017-12-22 09:02:10,8,2018,100.000000,132.00,132.00,2018-08-10 00:00:00,2019-01-31,148.00
259223,1981,LISANDRO DE LA TORRE Y 9 DE JULIO,2017-12-22 09:02:10,7,2018,100.000000,122.50,122.50,2018-07-10 00:00:00,2019-01-29,140.00
259222,1981,LISANDRO DE LA TORRE Y 9 DE JULIO,2017-12-22 09:02:10,6,2018,100.000000,135.80,135.80,2018-06-10 00:00:00,2019-01-29,158.00
259221,1981,LISANDRO DE LA TORRE Y 9 DE JULIO,2017-12-22 09:02:10,5,2018,100.000000,144.50,144.50,2018-05-10 00:00:00,2019-01-29,171.00
259216,1981,LISANDRO DE LA TORRE Y 9 DE JULIO,2017-12-22 09:02:10,11,2018,100.000000,167.40,167.40,2018-11-10 00:00:00,2019-01-18,176.00
259211,1981,LISANDRO DE LA TORRE Y 9 DE JULIO,2017-12-22 09:02:10,10,2018,100.000000,167.40,167.40,2018-10-14 00:00:00,2018-12-11,7.00
259210,1981,LISANDRO DE LA TORRE Y 9 DE JULIO,2017-12-22 09:02:10,9,2018,100.000000,142.50,142.50,2018-09-14 00:00:00,2018-12-11,151.00
259209,1981,LISANDRO DE LA TORRE Y 9 DE JULIO,2017-12-22 09:02:10,8,2018,100.000000,132.00,132.00,2018-08-14 00:00:00,2018-12-11,11.00
259208,1981,LISANDRO DE LA TORRE Y 9 DE JULIO,2017-12-22 09:02:10,7,2018,100.000000,122.50,122.50,2018-07-14 00:00:00,2018-12-11,12.00
259207,1981,LISANDRO DE LA TORRE Y 9 DE JULIO,2017-12-22 09:02:10,6,2018,100.000000,135.80,135.80,2018-06-14 00:00:00,2018-12-11,16.00
259198,1981,LISANDRO DE LA TORRE Y 9 DE JULIO,2017-12-22 09:02:10,10,2018,100.000000,137.10,137.10,2018-10-09 00:00:00,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
165228,1618,Jardin Claret,2017-07-10 07:49:40,1,2019,107.520006,24250.89,22554.77,2019-01-15 00:00:00,NaN,NaN
165227,1618,Jardin Claret,2017-07-10 07:49:40,12,2018,107.520006,24250.89,22554.77,2018-12-15 00:00:00,NaN,NaN
165229,1618,Jardin Claret,2017-07-10 07:49:40,2,2019,107.520006,24250.89,22554.77,2019-02-15 00:00:00,NaN,NaN
165219,1618,Jardin Claret,2017-07-10 07:49:40,10,2018,107.520011,9166.64,8525.52,2018-10-14 00:00:00,2019-01-14,8931.48
165218,1618,Jardin Claret,2017-07-10 07:49:40,9,2018,107.520011,9166.64,8525.52,2018-09-14 00:00:00,2019-01-14,8931.48
165220,1618,Jardin Claret,2017-07-10 07:49:40,11,2018,107.520011,9166.64,8525.52,2018-11-14 00:00:00,2019-01-14,8931.48
165221,1618,Jardin Claret,2017-07-10 07:49:40,12,2018,107.520039,9603.12,8931.47,2018-12-15 00:00:00,NaN,NaN
165223,1618,Jardin Claret,2017-07-10 07:49:40,2,2019,107.520039,9603.12,8931.47,2019-02-15 00:00:00,NaN,NaN
266142,2092,PORTICA III,2017-12-22 09:02:10,1,2019,120.000000,2040.00,1700.00,2019-02-10 00:00:00,NaN,NaN
266149,2092,PORTICA III,2017-12-22 09:02:10,1,2019,120.000000,2040.00,1700.00,2019-02-10 00:00:00,NaN,NaN
266153,2092,PORTICA III,2017-12-22 09:02:10,11,2018,120.000000,1680.00,1400.00,2018-12-10 00:00:00,2019-03-10,1932.00
266140,2092,PORTICA III,2017-12-22 09:02:10,11,2018,120.000000,1680.00,1400.00,2018-12-10 00:00:00,NaN,NaN
266154,2092,PORTICA III,2017-12-22 09:02:10,10,2018,120.000000,1680.00,1400.00,2018-11-10 00:00:00,2019-03-10,2016.00
266155,2092,PORTICA III,2017-12-22 09:02:10,12,2018,120.000000,2040.00,1700.00,2019-01-10 00:00:00,2019-03-10,2244.00
266148,2092,PORTICA III,2017-12-22 09:02:10,12,2018,120.000000,2040.00,1700.00,2019-01-10 00:00:00,NaN,NaN
266141,2092,PORTICA III,2017-12-22 09:02:10,12,2018,120.000000,2040.00,1700.00,2019-01-10 00:00:00,NaN,NaN
266174,2093,PORTICA V,2017-12-22 09:02:10,1,2019,125.000000,1623.75,1299.00,2019-02-10 00:00:00,NaN,NaN
266180,2093,PORTICA V,2017-12-22 09:02:10,8,2018,125.000000,1277.50,1022.00,2018-09-10 00:00:00,NaN,NaN
266181,2093,PORTICA V,2017-12-22 09:02:10,9,2018,125.000000,1277.50,1022.00,2018-10-10 00:00:00,NaN,NaN
266196,2094,PORTICA VI,2017-12-22 09:02:10,11,2018,125.000000,1400.00,1120.00,2018-12-10 00:00:00,NaN,NaN
266197,2094,PORTICA VI,2017-12-22 09:02:10,12,2018,125.000000,1400.00,1120.00,2019-01-10 00:00:00,NaN,NaN
266198,2094,PORTICA VI,2017-12-22 09:02:10,1,2019,125.000000,1400.00,1120.00,2019-02-10 00:00:00,NaN,NaN
266177,2093,PORTICA V,2017-12-22 09:02:10,12,2018,125.000000,1277.50,1022.00,2019-01-10 00:00:00,NaN,NaN
266182,2093,PORTICA V,2017-12-22 09:02:10,10,2018,125.000000,1277.50,1022.00,2018-11-10 00:00:00,NaN,NaN
125521,1533,Pontevea,2016-09-10 09:53:49,9,2016,127.824989,1113.10,870.80,2016-09-14 00:00:00,NaN,NaN
265260,2055,Consorcio de Propietarios Teodoro Garcia 2425,2018-02-02 15:10:27,12,2018,191.776799,5224.00,2724.00,2019-01-15 00:00:00,2019-03-08,5381.00
255619,1919,Natania 50,2017-12-14 18:41:48,9,2018,218.181818,4800.00,2200.00,2018-09-17 00:00:00,NaN,NaN
258624,1968,SAN JERONIMO II,2017-12-22 09:02:10,5,2018,224.943104,494.20,219.70,2018-06-10 00:00:00,2019-01-04,563.00
255620,1919,Natania 50,2017-12-14 18:41:48,10,2018,225.000000,6750.00,3000.00,2018-10-17 00:00:00,NaN,NaN
259145,1981,LISANDRO DE LA TORRE Y 9 DE JULIO,2017-12-22 09:02:10,9,2018,253.846154,2013.00,793.00,2018-09-09 00:00:00,NaN,NaN

In [16]:
data = data.loc[data.expensa_proporcion<=90]

In [23]:
data = data.loc[(data.expensa_monto > 0) & (data.expensa_monto_total > 0)]

In [25]:
data.shape

(263506, 32)

In [26]:
data.describe()

,consorcio_interes_primer_vencimiento,consorcio_interes_segundo_vencimiento,unidad_metros,expensa_monto,expensa_monto_total,expensa_monto_parcial,expensa_proporcion,expensa_interes_primer_vencimiento,expensa_ineteres_segundo_vencimiento,pago_monto
count,263506.000000,263506.000000,263506.000000,263506.000000,2.635060e+05,263504.000000,263506.000000,263506.000000,263506.000000,227183.000000
mean,3.579799,5.490869,17.237774,1906.786630,2.691186e+05,28.883214,2.199444,3.488543,5.380071,1976.659541
std,2.965644,3.107470,259.312196,1859.214853,3.954436e+05,351.815671,2.711635,2.957083,3.053310,1873.001645
min,0.000000,0.000000,0.000000,1.000000,7.930000e+02,-2103.640000,0.001209,0.000000,0.000000,-2103.640000
25%,2.000000,4.000000,0.546000,774.917500,5.258584e+04,0.000000,0.401000,2.000000,3.750000,821.690000
50%,3.000000,5.000000,1.493000,1500.000000,1.196741e+05,0.000000,1.428017,3.000000,5.000000,1585.030000
75%,5.000000,6.000000,3.700000,2543.210000,2.800000e+05,0.000000,2.929346,5.000000,6.000000,2631.725000
max,35.000000,35.000000,11111.000000,68485.590000,3.946655e+06,31842.500000,86.206897,35.000000,35.000000,69123.000000

In [34]:
pagos_0 = data.loc[data.pago_monto <= 0,["consorcio_id", "consorcio_nombre", "unidad_denominacion","consorcio_fecha_creacion","expensa_mes", "expensa_anio", "expensa_proporcion","expensa_monto", "expensa_monto_total", "expensa_monto_parcial","expensa_primer_vencimiento", "pago_fecha", "pago_monto"]].sort_values("expensa_monto_parcial")

In [41]:
pagos_0.groupby("pago_fecha").count().sort_values("consorcio_id", ascending =False)

,consorcio_id,consorcio_nombre,unidad_denominacion,consorcio_fecha_creacion,expensa_mes,expensa_anio,expensa_proporcion,expensa_monto,expensa_monto_total,expensa_monto_parcial,expensa_primer_vencimiento,pago_monto
pago_fecha,,,,,,,,,,,,
2016-06-29,16,16,16,16,16,16,16,16,16,16,16,16
2018-02-14,12,12,12,12,12,12,12,12,12,12,12,12
2018-06-29,9,9,9,9,9,9,9,9,9,9,9,9
2019-02-06,5,5,5,5,5,5,5,5,5,5,5,5
2016-05-27,5,5,5,5,5,5,5,5,5,5,5,5
2018-06-27,5,5,5,5,5,5,5,5,5,5,5,5
2018-06-12,5,5,5,5,5,5,5,5,5,5,5,5
2017-10-18,4,4,4,4,4,4,4,4,4,4,4,4
2018-10-04,4,4,4,4,4,4,4,4,4,4,4,4
2018-07-03,4,4,4,4,4,4,4,4,4,4,4,4
2016-01-29,3,3,3,3,3,3,3,3,3,3,3,3
2018-02-27,3,3,3,3,3,3,3,3,3,3,3,3
2017-12-01,3,3,3,3,3,3,3,3,3,3,3,3
2018-01-16,3,3,3,3,3,3,3,3,3,3,3,3
2018-03-21,3,3,3,3,3,3,3,3,3,3,3,3
2016-11-03,3,3,3,3,3,3,3,3,3,3,3,3
2016-03-02,3,3,3,3,3,3,3,3,3,3,3,3
2016-02-29,3,3,3,3,3,3,3,3,3,3,3,3
2018-03-12,2,2,2,2,2,2,2,2,2,2,2,2
2018-02-23,2,2,2,2,2,2,2,2,2,2,2,2
2018-05-04,2,2,2,2,2,2,2,2,2,2,2,2
2018-06-06,2,2,2,2,2,2,2,2,2,2,2,2
2017-12-04,2,2,2,2,2,2,2,2,2,2,2,2
2016-02-10,2,2,2,2,2,2,2,2,2,2,2,2
2017-09-30,2,2,2,2,2,2,2,2,2,2,2,2
2017-09-27,2,2,2,2,2,2,2,2,2,2,2,2
2016-12-30,2,2,2,2,2,2,2,2,2,2,2,2
2016-11-10,2,2,2,2,2,2,2,2,2,2,2,2
2017-10-23,2,2,2,2,2,2,2,2,2,2,2,2
2019-03-08,2,2,2,2,2,2,2,2,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...
2016-12-16,1,1,1,1,1,1,1,1,1,1,1,1
2016-12-15,1,1,1,1,1,1,1,1,1,1,1,1
2016-12-05,1,1,1,1,1,1,1,1,1,1,1,1
2016-12-02,1,1,1,1,1,1,1,1,1,1,1,1
2016-12-01,1,1,1,1,1,1,1,1,1,1,1,1
2016-11-25,1,1,1,1,1,1,1,1,1,1,1,1
2016-11-01,1,1,1,1,1,1,1,1,1,1,1,1
2017-06-14,1,1,1,1,1,1,1,1,1,1,1,1
2017-07-03,1,1,1,1,1,1,1,1,1,1,1,1
2017-09-09,1,1,1,1,1,1,1,1,1,1,1,1
2016-09-30,1,1,1,1,1,1,1,1,1,1,1,1
2018-01-22,1,1,1,1,1,1,1,1,1,1,1,1
2016-09-27,1,1,1,1,1,1,1,1,1,1,1,1
2018-01-08,1,1,1,1,1,1,1,1,1,1,1,1
2018-01-05,1,1,1,1,1,1,1,1,1,1,1,1
2017-12-22,1,1,1,1,1,1,1,1,1,1,1,1
2017-12-11,1,1,1,1,1,1,1,1,1,1,1,1
2017-12-06,1,1,1,1,1,1,1,1,1,1,1,1
2016-09-29,1,1,1,1,1,1,1,1,1,1,1,1
2017-11-28,1,1,1,1,1,1,1,1,1,1,1,1
2016-10-26,1,1,1,1,1,1,1,1,1,1,1,1
2017-11-27,1,1,1,1,1,1,1,1,1,1,1,1
2017-11-07,1,1,1,1,1,1,1,1,1,1,1,1
2016-10-04,1,1,1,1,1,1,1,1,1,1,1,1
2017-10-20,1,1,1,1,1,1,1,1,1,1,1,1
2017-10-19,1,1,1,1,1,1,1,1,1,1,1,1
2016-10-07,1,1,1,1,1,1,1,1,1,1,1,1
2017-10-02,1,1,1,1,1,1,1,1,1,1,1,1
2016-10-18,1,1,1,1,1,1,1,1,1,1,1,1
2018-02-07,1,1,1,1,1,1,1,1,1,1,1,1